<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf fragments</title>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">URL SHORTENER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mostClicked}">MOST CLICKED URLS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="footer fixed-bottom">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid mx-5">
            <a class="link-info" href="https://github.com/Seppys/UrlShortener"><i class="bi bi-github"></i> Url Shortener Repository</a>
        </div>
    </nav>
</footer>

</body>
</html>